<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyceum of Alabang SHS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="logo.png" alt="Lyceum Logo"> <h1>Lyceum of Alabang SHS</h1>
            </div>
            <div class="nav">
                <a href="#">Sign In</a>
                <a href="#">Sign Up</a>
            </div>
        </div>
    </header>

    <main>
        <section class="tracks">
            <h2>Tracks</h2>
            <div class="container">
                <div class="track">
                    <h3>Technical Vocational Livelihood (TVL) Track</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <ul>
                        <li>Front Office Servicing NC II</li>
                        <li>Food and Beverage Services NC II</li>
                        <li>Bread and Pastry Production NC II</li>
                        <li>Tour Guiding Services NC II</li>
                        <li>Cookery NC II</li>
                        <li>Travel Services NC II</li>
                        <li>Bookkeeping NC II</li>
                    </ul>
                    <img src="placeholder.jpg" alt="Image Placeholder">
                </div>
                <div class="track">
                    <h3>Information and Communication Technology (ICT)</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <ul>
                        <li>Computer System Servicing NC II</li>
                        <li>Computer Programming NC IV (Java, .Net, C++, C#)</li>
                        <li>Computer Center Services NC II</li>
                        <li>Technical Drafting NC II</li>
                    </ul>
                    <img src="placeholder.jpg" alt="Image Placeholder">
                </div>
                <div class="track">
                    <h3>Arts</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <ul>
                        <li>Illustration NC II</li>
                        <li>2D Animation NC II</li>
                        <li>Visual Graphic NC II</li>
                        <li>3D Animation NC II</li>
                        <li>Game Programming NC II</li>
                    </ul>
                    <img src="placeholder.jpg" alt="Image Placeholder">
                </div>
                <div class="track">
                    <h3>Industrial Arts (IA)</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <ul>
                        <li>Automotive Servicing NC I & NC II</li>
                        <li>Electronic Products Assembly & Servicing NC II</li>
                        <li>Shielded Metal Arc Welding NC 1 & NC II</li>
                        <li>Refrigeration & Air-conditioning NC II</li>
                        <li>Electrical Installation & Maintenance NC II</li>
                    </ul>
                    <img src="placeholder.jpg" alt="Image Placeholder">
                </div>
            </div>
        </section>

        <section class="about">
            <h2>About</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap to electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker.</p>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; Lyceum of Alabang SHS 2024</p>
        </div>
    </footer>
</body>
