@page
@model LoginModel

<link rel="stylesheet" href="~/css/Login.css" />

<p>STUDENT ASSESSMENT FOR SENIOR HIGH SCHOOL STRAND</p>

<div class="text-centers mb-4">
    <img src="~/images/picture.png" alt="Description of Image" class="login-image" />
</div>

<div class="login-container">
    <div class="form-section col-md-4">
        <section>
            <div class="text-center mb-4">
                <img src="~/images/login icon.png" alt="Description of Image" class="login-image" />
            </div>
            <div class="background-image">
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                
                  
                        <label class="form-label">Username</label>
                        <div class="input-container">
                            <input asp-for="Input.Email" class="form-controlss" autocomplete="username" aria-required="true" />
                            <img src="~/images/users.png" class="input-icons" alt="username icon" />
                        </div>
                  
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
    

                    <br />

                 
                        <label class="form-label">Password</label>
                        <div class="input-container">
                            <input asp-for="Input.Password" class="form-controlss" autocomplete="current-password" aria-required="true" />
                            <img src="~/images/lock.png" class="input-icon" alt="password icon" />
                        </div>
              
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
               
                    <br />
                    <a class="passwords" id="forgot-password" asp-page="./ForgotPassword">Forget password?</a>
                   
    
                    <button id="login-submit" type="submit" class="btn custom-button">LOG IN</button>
               
           
                   
                        <a class="Register" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Don’t have an account? Register</a>
                    
                
            </form>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}