@page
@model LoginModel

<body>
    
<link rel="stylesheet" href="~/css/registration.css" />

<p>STUDENT ASSESSMENT FOR SENIOR HIGH SCHOOL STRAND</p>

<div class="text-centers mb-4">
    <img src="~/images/picture.png" alt="Description of Image" class="login-image" />
</div>

<div class="register-container">
    <div class="form-section col-md-4">
        <section>
            <div class="text-center mb-4">
                <img src="~/images/login icon.png" alt="Description of Image" class="login-image" />
            </div>
            <div class="background-image">

                    <div class="background-images">
                        <form id="account" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <label class="form-label">Lastname</label>
                            <div class="input-container">
                                <input class="form-control" autocomplete="family-name" aria-required="true" />
                                <img src="~/images/users.png" class="input-icon" alt="lastname icon" />
                            </div>
                           


                            @* <br /> *@

                            <label class="form-labels">Firstname</label>
                            <div class="input-container">
                                <input class="form-controlss" autocomplete="firstname" aria-required="true" />
                                <img src="~/images/users.png" class="input-icons" alt="username icon" />
                            </div>


                           @*  <br /> *@


                            <label class="form-label">Username</label>
                            <div class="input-container">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <img src="~/images/users.png" class="input-icons" alt="username icon" />
                            </div>

                            <span asp-validation-for="Input.Email" class="text-danger"></span>


                       
                            <label class="form-labelss">Password</label>
                            <div class="input-container">
                                <input asp-for="Input.Password" class="form-controlss" autocomplete="current-password" aria-required="true" />
                                <img src="~/images/lock.png" class="input-icon" alt="password icon" />
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>

                           
                            <label class="form-labelsss">Confirm Password</label>
                            <div class="input-container">
                                <input class="form-controlss" autocomplete="current-password" aria-required="true" />
                                <img src="~/images/lock.png" class="input-icon" alt="password icon" />
                            </div>

                            <span asp-validation-for="Input.Password" class="text-danger"></span>


                            <button id="login-submit" type="submit" class="btn customs-button">REGISTER</button>



                            <a class="Login" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have account?</a>


                        </form>
                    </div>
    </div>
    </section>
    </div>
    </div>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}